<html>

<head>
  <title>{{ title }}.{{ statname }}</title>
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <h1>{{ statname }}</h1>

  {% block content %}{% endblock %}
</body>

</html>